[defaults]
roles_path = $PWD/ansible/roles
inventory = $PWD/ansible/inventory

# Bug: sudo-rs validation:
#  https://www.reddit.com/r/ansible/comments/1t6ie61/comment/okmoiv5
#  https://github.com/ansible/ansible/issues/85837
[privilege_escalation]
become_exe = sudo.ws

[sudo_become_plugin]
executable = sudo.ws
