[Unit]
Description=Set read permission on K3s kubeconfig
After=k3s.service
ConditionPathExists={{ k3s_kubeconfig_location }}

[Service]
Type=oneshot
ExecStart={{ k3s_kubeconfig_permission_script_location }}
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
